*{
	margin:0; 
}
#container {
	width:100%;
	height:100%; 
}
header {
	background-color: black; 
	height: 100px; 
	overflow:hidden;
}
header #title  {
	position: absolute; 
	top: 10px; 
	right: 35%; 
}

#title h1 {
	text-align: center; 
	font-family: Arial; 
	font-weight: bold; 
	color: white;
	padding: 30px; 
	font-size: 40px; 
}

header ul {
	float: right; 
	list-style-type: none; 
	padding: 50px; 
}

header ul li {
	display: inline-block;
	padding: 10px; 
	
}

header ul li a {
	text-decoration: none; 
	color: white; 
	padding: 5px 20px; 
	border: 1px solid white; 
}

header ul li a:hover {
	background-color: white; 
	color: black; 
}
#mainpanel {
	float:left; 
	width:100%;
	margin-top:0px; 
	background-color: white; 
	height: 100%; 
	
}

#leftside {
	width:25%;
	background-color: gray; 
	float:left; 
	height:70%;
	
}
#leftsidetitle h3 {
	font-family:arial;
	color:white;
}
#leftsidetitle{
	width:55px;
	float:center;
	border:2px solid white;
	background-color:black;
	position:relative;
	margin: 0 auto; 
}
#leftside li{
	font-family:arial;
}
#gamebox {
	width:50%; 
	background-color: green; 
	float:left; 
	height:70%;
	
}
#gamebox button{
	border-radius: 10px; 
	position:relative; 
	left: 170px;
	top: 150px;
	width:50px;
	transition-property:width; 
	transition-delay:1s;
	transition-duration:.5s;
}
#gamebox button:hover{
	width:100px;
}
#gamebox img{
	position: relative; 
	left:300px;
	top:100px;
}
#rightside {
	width:25%; 
	background-color: gray;
	float:left; 
	height:70%;
	
}
#rightsidetitle{
	width:65px;
	float:center;
	border:2px solid white;
	background-color:black;
	position:relative;
	margin: 0 auto; 
}
	
#rightside h3 {
	font-family:arial;
	color: white; 
}
#smileface {
	background-color: gray;
	width: 50%;
	transform: translate(50%,-1%);
}
#smileface img{
	max-width:90%;
	max-height:100%;
	padding:10px;
	transform: scale(0.5);
}
th,td {
	border:1px solid black;
	font-family: arial; 
	color: white;
	padding: 10px;
}
table {
	margin: 0 auto; 
	left: 40px;
	border: 2px solid white; 
}
#footer{
	background-color: black;
	margin-top:0px;
	height:100%;
	
}
#footer p{
	color:white;
	font-family:arial;
	text-align: center;
	
}
#winner {
	animation-name:winner;
	animation-duration:4s;
	animation-fill-mode: forwards;
}
@keyframes winner{
	0% {background-color:gray;}
	100% {background-color:blue;}
	
}
